<!DOCTYPE html>
<html>
    <head>
        <title>PORTFOLIO</title>
</head>
<body>
<h1> ABOUT US</h1>
<p>My Resume: <a href="MacalaladCJ-Resume.pdf">Click Here</a></p>
<p>
    Goodbye
</p>
<a href="/">Go back</a>

</body>
</html>
