<!DOCTYPE html>
<html>
    <head>
        <title>TOP RANKS</title>
</head>
<body>
<h1> # TOP RANKS </h1>
<h3> #1 GAME: COUNTER STRIKE 2</h3>
<h3> #2 GAME: DOTA 2</h3>
<p>
    Goodbye
</p>
<a href="/">Go back</a>

</body>
</html>